*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
.navbar{
background-color: black;
}
.list1{
    list-style-type: none; 
    display: flex;
    text-transform: uppercase;
    text-align: center;
}
.list2{

    padding: 10px;  
}

.list1 a{
    color: white;
    text-decoration: none;
}



/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */


.container1{
    width: 80%;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;




  }
  img{width: 300px;

}
h2 ,p ,h3{
    text-align: center;
}
.portfolio h2{
    padding-top: 8px;
    text-transform: uppercase;
}
.portfolio{
font-style: italic;
}
.portfolio h3 ,p::first-letter{
    text-transform: capitalize;
 }

